# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/03_React/*/node_modules
/03_React/*/.pnp
/03_React/*/.pnp.js

# testing
/03_React/*/*/coverage

# production
/03_React/*/*/build

# misc
/03_React/*/.DS_Store
/03_React/*/.env.local
/03_React/*/.env.development.local
/03_React/*/.env.test.local
/03_React/*/.env.production.local

/03_React/*/npm-debug.log*
/03_React/*/yarn-debug.log*
/03_React/*/yarn-error.log*
