@charset "uft-8";
@import url(reset.css);
@import url(common.css);
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic+Coding&display=swap');

/* 
section .con {max-width: 1440px; height: 100%; margin: 0 auto;}
.slider {height: 480px;}
.slider__content {background-color: cadetblue;}
.youtube {height: 605px;}
.youtube__content {background-color: yellow;}
.sns {height: 160px;}
.sns__content {background-color: violet;}
.sns__content ul {display: flex;}
.sns__content ul li {flex: 1; text-align: center;}
.guide {height: 480px;}
.guide__content {background-color: tomato; display: flex; flex-direction: column;}
.guide__content > div {flex: 1; text-align: center;}
.guide__content .content__app {background-color: teal;}
.guide__content .content__delivery {background-color: slategray;}
.store {height: 597px;}
.store__content {background-color: saddlebrown;}
/* float 캔슬 애프터 캔슬러 안쓰고 그냥 overflow:hidden 쓰네. 넓이는 공식으로 계산한거래. 자식넓이 / 부모넓이 * 100% 
.store__content ul {width: 79.44%; margin: 0 auto; background-color: rosybrown; overflow: hidden;}
.store__content ul li {float: left; width: 33.33%; text-align: center;}
.banner {height: 200px;}
.banner__content {background-color: darkblue;}

/* 767-1023 태블릿
@media screen and (min-width:767px) and (max-width:1023px) {
.guide__content {flex-direction: row;}
.store__content ul li {width: calc(100%/6);}

/* 1024 피시
@media screen and (min-width:1024px) {
.guide__content {flex-direction: row;}
.store__content ul li {width: calc(100%/6);}
} */

.wrap{
	background: wheat;
    padding-top: 60px;
}
.slider {
    overflow: hidden;
}
section .con {
	max-width: 1440px;
	margin: 0 auto;
	height: 100%;
}
.slider__content {
	background: thistle;
}
.slider__content .mySwiper{
    width: 100%;
    height: 600px;
}
.slider__content .swiper-slide {
	text-align: center;
	font-size: 18px;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.swiper-pagination-bullet-active {
    --swiper-theme-color: rgb(255, 62, 37);
}
.slider__content .swiper-slide {
    /* 이미지 크기 안맞음? */
	background-size: 100% 100%;
	background-position:center;
    background-repeat: no-repeat;
}
.slider__content .swiper-slide.slide1 {
	background-image: url('../img/slide1_S.png');
}
.slider__content .swiper-slide.slide2 {
	background-image: url('../img/slide2_S.png');
}
.slider__content .swiper-slide.slide3 {
	background-image: url('../img/slide3_S.png');
}
.youtube{
	height: 605px;
}
.sns{
	height: 160px;
}
.sns__content {
	background: #683a2f;
}
.sns__content > ul.content__list {
	display: flex;
    height: 100%;
    align-items: center;
}
.sns__content > ul > li {
	flex: 1;
	text-align: center;
}
.sns__content > ul > li a .icon {
    padding-right: 0px;
    font-size: 3rem;
    color: white;
}
.sns__content > ul > li a .sns-txt {
    text-align: center;
}
.sns__content > ul > li a .sns-txt span:nth-child(2) {
    border-radius: 5px;
    margin-top: 10px;
    font-size: 0.8em;
    font-weight: bold;
    display: inline-block;
}
.content__list > li > a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 100%;
	color: white;
}
.content__list > li > a > div > span {
	display: block;
}
.content__list > li > a > .fab {
	font-size: 3rem;
	color: white;
}
.guide{
	height: 480px;
}
.guide__content {
	display: flex;
	/* flex-direction: row; */
	flex-direction: column;
	/* background: yellowgreen; */
}
.guide__content > div {
	flex: 1;
	text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.guide__content > .content__app {
    background-color: #c7a186;
    background-image: url('../img/app.png');
}
.guide__content > .content__delivery {
    background-color: #b08972;
	background-image: url('../img/delivery.png');
}
/* .store{
	height: 370px;
} */
.store__content {
	background: white;
}
.store__content > .search {
	padding: 50px 5px;
}
.store__content > .search .button {
	border-radius: 30px;
	margin-top: 15px;
	font-size: 1em;	
}
.store__content > .search > h2, .store__content > .search > p {
	text-align: center;
}
.store__content > .search > h2 {
	font-size: 2rem;
    margin-bottom: 5px;
}
.store__content > .search > p:nth-of-type(1) {
	font-size: 1.5rem;
}
.store__content > .search > p:nth-of-type(2) {
	margin-bottom: 30px;
}
.store__content > .search > ul {
	overflow: hidden;
	/* 1144 ÷ 1440 */
	/* width: 79.44%; */
	margin: 0 auto;
}
.store__content > .search > ul li {
	float: left;
	width: 33.33%;
	text-align: center;
}
.store__content > .search > ul li > img {
	display: block;
	width: 60px;
	margin: 0 auto;
}
.store__content > .search > ul li > .search-txt {
	display: none;
}
.store__content > .search > ul li > em {
	color: red;
    font-weight: bold;
    margin: 10px 0;
    display: inline-block;
}
.banner{
	height: 200px;
}
.banner__content {
	background-image: url('../img/bg_home_cs.png');
	background-size: cover;
	background-position:center;
	color: white;
	display: flex;
	flex-direction: column;
}
.banner__content > .order-text {
	padding: 40px 30px 10px;
}
.banner__content > .order-text h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
}
.banner__content > .phone{
	font-size: 2.5rem;
	padding-left: 30px;
}

/* 테블릿: 767px 이상*/
@media all and (min-width:767px){
    .wrap{
        padding-top: 120px;
    }
	.guide__content {
		flex-direction: row;
	}
	.store__content ul li {
		width: 16.66%;
	}
    .slider__content .swiper-container {
	    height: 380px;
    }
    .slider__content .swiper-slide.slide1 {
		background-image: url('../img/slide1.png');
	}
	.slider__content .swiper-slide.slide2 {
		background-image: url('../img/slide2.png');
	}
	.slider__content .swiper-slide.slide3 {
		background-image: url('../img/slide3.png');
	}
    	.content__list > li > a {
		flex-direction: row;
		align-items: center;
	}
	.slider__content .swiper-container {
		height: 380px;
	}
	.sns__content > ul > li a .icon {
		font-size: 5rem;
		padding-right: 10px;
	}	
	.content__list > li > a > .sns-txt {
		text-align: left;
	}
    .store{
		height: 597px;
	}
	.store__content > .search {
		padding: 140px 5px;
	}
	.store__content > .search > h2 {
		font-size: 3rem;
		margin-bottom: 20px;
	}
	.store__content > .search > ul li {
		width: 16.45%;
		border-right: 1px solid rgb(209, 209, 209);
	}
	.store__content > .search > ul li:last-child {
		border-right: none;
	}
	.store__content > .search > ul {
		width: 79.44%;
		margin: 0 auto;
	}
	.store__content > .search > ul li > img {
		width: 90px;
	}
	.store__content > .search > ul li > .search-txt {
		display: block;
		margin: 15px 0;
        padding: 0 10px;
	}
	.store__content > .search > ul li > em {
		font-size: 1.4rem;
	}
    .banner__content {
		flex-direction: row;
	}
	.banner__content > .order-text {
		/* 630px ÷ 1140px */
		width: 55.26%;
		/* 50px ÷ 1140px */
		/* padding-left: 4.38%; */
		padding: 0 0 0 4.38%;
	}
	.banner__content > .order-text > h1 {
		font-size: 2.3rem;
		padding-top: 60px;
        margin-bottom: 15px;
	}
	.banner__content > .order-text > p {
		font-size: 1.3rem;
		display: inline;
	}
	.banner__content > .order-text > p:nth-of-type(2):before {
		content: '/ ';
	}
    .banner__content > .phone {
		/* 410px ÷ 1140px */
		width: 36.96%;
		flex-direction: row;
		/* 50px ÷ 1140px */
		padding-right: 4.38% ;
		padding-top: 75px;
		text-align: center;
	}
}

/* pc: 1024px 이상 */
@media all and (min-width:1024px){ 
	.slider__content .swiper-container {
		height: 480px;
	}
}