<!DOCTYPE html>
<!-- 
	레이아웃 프레그먼트를 지정할때는 필요하지 않지만 지정한 프래그먼트를 사용하기 위해서는 아래의 설정이 필요함.
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
	<title>Insert title here</title>
	<!-- Bootstrap js, css, jquery -->
	<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
	
	<link th:href="@{/css/page01.css}" rel="stylesheet">
	<!-- 레이아웃을 사용할때에는 js 와 css 를 불러오는 영역을 따로 th:block 으로 선언해주어야 한다. -->
	<th:block layout:fragment="script">
	</th:block>
	<th:block layout:fragment="css">
		
	</th:block>
</head>
<body>
	<!--
		코드상에서는 div 로 작성을 했지만, 리플레이스로 프래그먼트로 설정한 태그를 가져와서 덮어씌우기 때문에
		실제로 화면에 구현되었을 때에는 프레그먼트로 불러온 header 와 footer 태그로 표현된다.
		여러 화면에서 동일한 화면을 표현하기 위해서는 프레그먼트를 아래처럼 사용하고
		페이지마다 다른 내용을 담게되는 영역에는
		layout:fragment 를 사용한다.
	-->
	<div th:replace="/fragments/Header.html :: head"></div>
	<!--
		여기서 태그에 스타일으주던 클래스를 주던 렌더링하면서 덮어씌우기 때문에 전부 적용안됨.
		아니네, 불러오는쪽의 태그에 클래스명시가 없다면 이쪽이 적용이 됨. 만약 있다면 그쪽이 우선되어서 이쪽은 무시. 
	-->
	<div layout:fragment="section" class="content"></div>
	<div th:replace="/fragments/Footer.html :: foot"></div>
</body>
</html>