@charset "uft-8";
@import url(reset.css);
@import url(common.css);

/* 
section .con {max-width: 1440px; height: 100%; margin: 0 auto;}
.slider {height: 480px;}
.slider__content {background-color: cadetblue;}
.youtube {height: 605px;}
.youtube__content {background-color: yellow;}
.sns {height: 160px;}
.sns__content {background-color: violet;}
.sns__content ul {display: flex;}
.sns__content ul li {flex: 1; text-align: center;}
.guide {height: 480px;}
.guide__content {background-color: tomato; display: flex; flex-direction: column;}
.guide__content > div {flex: 1; text-align: center;}
.guide__content .content__app {background-color: teal;}
.guide__content .content__delivery {background-color: slategray;}
.store {height: 597px;}
.store__content {background-color: saddlebrown;}
/* float 캔슬 애프터 캔슬러 안쓰고 그냥 overflow:hidden 쓰네. 넓이는 공식으로 계산한거래. 자식넓이 / 부모넓이 * 100% 
.store__content ul {width: 79.44%; margin: 0 auto; background-color: rosybrown; overflow: hidden;}
.store__content ul li {float: left; width: 33.33%; text-align: center;}

.banner {height: 200px;}
.banner__content {background-color: darkblue;}


/* 767-1023 태블릿
@media screen and (min-width:767px) and (max-width:1023px) {
.guide__content {flex-direction: row;}
.store__content ul li {width: calc(100%/6);}
    
}
/* 1024 피시*
@media screen and (min-width:1024px) {
.guide__content {flex-direction: row;}
.store__content ul li {width: calc(100%/6);}
} */


.wrap{
	background: wheat;
}

section .con {
	max-width: 1440px;
	margin: 0 auto;
	height: 100%;
}

.slider{
	height: 480px;
}

.slider__content {
	background: thistle;
}

.youtube{
	height: 605px;
}

.youtube__content {
	background:tomato;
}

.sns{
	height: 160px;
}

.sns__content {
	background: turquoise;
}

.sns__content > ul {
	display: flex;
	flex-direction: row;
}

.sns__content > ul > li {
	flex: 1;
	text-align: center;
}

.guide{
	height: 480px;
}

.guide__content {
	display: flex;
	/* flex-direction: row; */
	flex-direction: column;
	/* background: yellowgreen; */
}

.guide__content > div {
	flex: 1;
	text-align: center;
}

.guide__content > .content__app {
	background: hotpink;
}

.guide__content > .content__delivery {
	background:indianred;
}

.store{
	height: 597px;
}

.store__content {
	background: honeydew;
}

.store__content ul {
	/* display: flex;
	flex-direction: row;
	justify-content: space-around; */
	overflow: hidden;
	/* 1144 ÷ 1440 */
	width: 79.44%;
	margin: 0 auto;
}

.store__content ul li {
	float: left;
	width: 33.33%;
	text-align: center;
}

.banner{
	height: 200px;
}

.banner__content {
	background: gray;
}

/* 테블릿: 767px 이상*/
@media all and (min-width:767px){
	.guide__content {
		flex-direction: row;
	}

	.store__content ul li {
		width: 16.66%;
	}
}

/* pc: 1024px 이상 */
@media all and (min-width:1024px){ 

}