<!DOCTYPE html>
<!-- 
	페이지마다 면화하는 내용을 보여주기 위한 레이아웃을 설정하기 위해 필요한 설정.
	layout:decorate="~{레이아웃폴더/html명}"
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/shopping}">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<th:block layout:fragment="script">
		<script th:inline="javascript">
	        function page(page){
	            var searchQuery = $("#searchQuery").val();
	
	            location.href="/" + page + "?&searchQuery=" + searchQuery;
	        }
		</script>
	</th:block>
	<th:block layout:fragment="css">
	    <style>
	        .carousel-inner > .item {
	            height: 350px;
	        }
	        .margin{
	            margin-bottom:30px;
	        }
	        .banner{
	            height: 300px;
	            position: absolute; top:0; left: 0;
	            width: 100%;
	            height: 100%;
	        }
	        .card-text{
	            text-overflow: ellipsis;
	            white-space: nowrap;
	            overflow: hidden;
	        }
	        a:hover{
	            text-decoration:none;
	        }
	        .center{
	            text-align:center;
	        }
	    </style>
	</th:block>
</head>
<body>
	<!--
		layout:fragment="이름" 으로 지정해서 내용을 다르게 작성할 수 있다...
		같은 이름으로 여러개의 본문내용을 담은 태그를 작성해서 바꿔끼는건 상상할 수 있는데, 이거 어떤 본문을 표시할지는 어떻게...
		아 컨트롤러에서 여기로 들어오고는 이 본문을 가지고 page01 을 표현하니까 그거 컨트롤러에서 조절할 수 있겠구나.
	-->
	<div layout:fragment="section">
		<section class="card margin">
			<div class="card-body" sec:authorize="isAnonymous()">
				비로그인 상태
			</div>
			<!--
				hasRole() 과 hasAuthority() 는 역할과 권한의 표현차이가 있을 뿐 기본적인 기능으로써는 유사하다.
				isAuthenticated() 는 권한을 가진 모든 사용자를 의미하니까 USER 와 ADMIN을 포함한다.
				권한은 계층적인 구조? 라고 생각하면 되려나
				특정 권한에서만 특정 페이지를 보이게하려면 권한을 지정해줘야함.
			-->
			<div class="card-body" sec:authorize="hasRole('USER')">
				일반 회원 [ <span th:text="${User}"></span> ] 로그인 상태
			</div>		
			<div class="card-body" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
				관리자 [ <span th:text="${User}"></span> ]로그인 상태
			</div>		
		</section>
		<section>
		    <div id="carouselControls" class="carousel slide margin" data-ride="carousel">
		        <div class="carousel-inner">
		            <div class="carousel-item active item">
		                <img class="d-block w-100 banner" src="https://user-images.githubusercontent.com/13268420/112147492-1ab76200-8c20-11eb-8649-3d2f282c3c02.png" alt="First slide">
		            </div>
		        </div>
		    </div>
		    <input type="hidden" name="searchQuery" th:value="${itemSearchDTO.searchQuery}">
		    <div class="center" th:if="${not #strings.isEmpty(itemSearchDTO.searchQuery)}">
		    	<p class="h3 font-weight-bold" th:text="${itemSearchDTO.searchQuery} + ' 에 대한 겸색결과'"></p>
		    </div>
				<div class="row margin">
					<!-- 타임리프:블록 여러개의 태그를 출력하고 싶을 때 쓰게 되는 태그. 주고 each 태그와 함께 사용된다. -->
					<th:block th:each="item, status : ${items.getContent()}">
						<div class="col-md-4 margin">
							<div class="card">
								<a th:href="'/item/' + ${item.id}" class="text-dark">
									<img class="card-img-top" th:alt="${item.itemName}" height=400 th:src="${item.imgUrl}">
									<div class="card-body">
										<h5 class="card-title" th:text="${item.itemName}"></h5>
										<p class="card-text" th:text="${item.itemDetail}"></p>
										<h3 class="card-title text-danger" th:text="${item.price} + '원'"></h3>
									</div>
								</a>
							</div>										
						</div>						
					</th:block>
				</div>
				<nav aria-label="Page navigation example" th:with="start = ${(items.number/maxPage)*maxPage + 1}, 
																		   end = ${(items.totalPages == 0) ? 1 : (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)}">
					<ul class="pagination d-flex justify-content-center">
						<!-- 타임리프:classappend 위치한 태그에 클래스를 추가해준다. 삼항연산자 같은 함수도 사용할 수 있네-->
						<li class="page-item" th:classappend="${items.first} ? 'disabled'" >
							<!-- header 의 search 에서 검색한 후에 리스트를 이동할경우 주소가 바뀌지 않도록 해주어야 한다. -->
							<a class="page-link" th:href="@{'/' + '?searchQuery=' + ${itemSearchDTO.searchQuery} + '&page=' + ${items.number - 1}}">
						    	<span aria-hidden="true">&laquo;</span>
						    </a>
						</li>
						<li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${items.number eq page-1} ? 'active' : ''">
							<!-- 위의 자바스크립트를 호출한다. 객체의 페이지는 0부터 시작하기 때문에 -1 값을 보내야함 -->
						    <a  th:href="@{'/' + '?searchQuery=' + ${itemSearchDTO.searchQuery} + '&page=' + ${page - 1}}" class="page-link"  th:inline="text">[[${page}]]</a>
						</li>
						<li class="page-item" th:classappend="${items.last} ? 'disabled'">
						    <a class="page-link"  th:href="@{'/' + '?searchQuery=' + ${itemSearchDTO.searchQuery} + '&page=' + ${items.number + 1}}">
								<span aria-hidden="true">&raquo;</span>
						    </a>
						</li>
					</ul>
				</nav>
		</section>
	</div>
</body>
</html>