<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/shopping}">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<th:block layout:fragment="script">
		<script th:inline="javascript">

		</script>
	</th:block>
	<th:block layout:fragment="css">
		<style>

		</style>
	</th:block>
</head>
<body>
	<!-- 혼자서 만든 아이템 리스트페이지. 잘 된다 야호 -->
	<div layout:fragment="section">
		<div class="row row-cols-1 row-cols-md-3 g-4">
		  <div class="col" th:each="item, status : ${itemList}">
		    <div class="card">
		      <img th:src="${item.itemImgDTOList.get(0).getImgUrl()}" class="card-img-top" alt="...">
		      <div class="card-body">
		        <h5 class="card-title" th:text="${item.itemName}"></h5>
		        <p class="card-text" th:text="${item.price} + ' 원'"></p>
		        <!-- 
					왜 그냥 Enum 비교하는건 에러를 띄우고 toString 을 해야만 제대로 작동하지.....?		        
		         -->
		        <p th:text="${item.itemSellStatus.toString() == T(com.Shop.Constant.ItemSellStatus).SELL.toString()} ? '판매중' : '품절'"></p>
		        <p class="card-text" th:text="${item.itemDetail}"></p>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</body>
</html>