* {
    margin: 0;
    padding: 0;
}
h1 {
    height: 100px;
}
h1, h2, h3 {
    font-weight: bold;
}
div.container {
    display: grid;
    width: 100%;
    grid: 
        "header header header"
        "sec1 sec1 aside"
        "sec2 sec3 aside"
        "sec4 sec4 aside"
        "footer footer footer";
    grid-template-columns: 35% 35% 25%;
    grid-template-rows: 200px 400px 400px 400px 200px;
    grid-gap: 10px;
    justify-content: center;
    align-content: center;
}
div.container header {
    grid-area: header;
    background-color: antiquewhite;
}
div.container header nav {
    height: 100px;
    background-color: aquamarine;
}
div.container section:nth-of-type(1) {
    grid-area: sec1;
    background-color: blue;
}
div.container section:nth-of-type(2) {
    grid-area: sec2;
    background-color: brown;
}
div.container section:nth-of-type(3) {
    grid-area: sec3;
    background-color: blueviolet;
}
div.container section:nth-of-type(4) {
    grid-area: sec4;
    background-color: chocolate;
    position: relative;
}
div.container section:nth-of-type(4) div.gridInGrid {
    width: 80%;
    height: 80%;
    position: absolute;
    left: 10%;
    top: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 70%;
    grid-gap: 10px;
    justify-content: center;
    align-content: center; 
    /*이거 왜 안되는지 모르겠네. 그냥하면 안되고 그리드 아이템에 column row 값으로 위치 지정해주니까 되네. 뭐지.*/
}
div.container section:nth-of-type(4) div.gridInGrid div:nth-child(1) {
    grid-area: sub1;
    grid-column: 1/2;
    grid-row: 1/4;
    background-color: darkolivegreen;
}
div.container section:nth-of-type(4) div.gridInGrid div:nth-child(2) {
    grid-area: sub2;
    grid-column: 2/3;
    grid-row: 1/4;
    background-color: aqua;
}
div.container section:nth-of-type(4) div.gridInGrid div:nth-child(3) {
    grid-area: sub3;
    grid-column: 3/4;
    grid-row: 1/4;
    background-color: brown;
}
div.container aside {
    grid-area: aside;
    background-color: crimson;
}
div.container footer {
    grid-area: footer;
    background-color: darkcyan;
}